{% extends 'task_manager/base.html' %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% trans "Labels" %}</h1>
<a class="btn btn-primary mb-3" href="{% url 'labels:create' %}">{% trans 'Create a label' %}</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
        <th>ID</th>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Creation date' %}</th>
        <th>
        </th>
    </tr>
  </thead>
  <tbody>
  {% if labels_list %}
    {% for label in labels_list %}
      <tr>
        <td>{{label.id}}</td>
        <td>{{label.name}}</td>
        <td>{{label.time_create|date:'d-m-Y H:i'}}</td>
        <td>
          <a href="{% url 'labels:update' label.id %}">{% trans 'Update' %}</a>
          <a href="{% url 'labels:delete' label.id %}">{% trans 'Delete' %}</a>
        </td>
      </tr>
    {% endfor %}
  {% endif %}
  </tbody>
</table>
{% endblock %}