{% extends 'task_manager/base.html' %}
{% load i18n %}

{% block content %}
    <div class="container-fluid">
        <div class="card-body card p-5 bg-light">
            <h1 class="display-4">{% trans 'Task manager' %}</h1>
            <h5 class="lead">{% trans "The application is a task manager that allows users to efficiently organize their workflow. After registering, users can create tasks, assign them custom or predefined statuses, label them with predefined or custom labels, and select assignees for each task. It's designed to simplify project management and enhance productivity." %}</h5>
        </div>
    </div>

{% endblock %}